.head {
  padding: 20px 0;
  color: #f6f4f4;
}

.logo {
  font-size: 35px;
  font-weight: 900;
}

#logoheader img {
  width: 288px;
  height: 58px;
}

.head .icon {
  margin-left: 10px;
}

.social{
  display: flex;
  flex-direction: row;
}

header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
  position: relative;
}

header ul {
  padding: 30px 20px;
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

header ul li:last-child {
  margin-right: 0;
}

header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
}

header ul li a:hover {
  color: #E90064;
  text-shadow: 1px 1px 1px #E90064;
}

.start {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E90064;
  padding: 10px 20px;
  color: white;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.start .get-started-link {
  color: white;
  text-decoration: none;
}

.start .logout-btn {
  color: white;
  text-decoration: none;
  background-color: #E90064;
  border: 2px solid #E90064;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 24px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.start .logout-btn:hover {
  border-color: #D70054;
  transform: scale(1.05); /* Scale button on hover */
}

.toggle {
  display: none;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }

  header {
    margin: 0;
    background-color: #E90064;
    position: relative;
  }

  .social{
    display: none;
  }

  header ul.flexSB {
    display: none;
  }

  header ul li {
    margin-bottom: 20px;
  }

  .toggle {
    display: block;
    background-color: #E90064;
    color: #fff;
    font-size: 30px;
    position: relative;
    right: 0;
    top: 0px;
  }

  header ul li a:hover {
    color: #000000;
  }

  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #E90064;
    display: flex;
    flex-direction: column;
  }

  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #logoheader img {
    width: 190px;
    height: 38px;
  }
  .start .login-btn{
    width: 100px;
    display: flex;
    text-align: center;
  }
}
