
.coursesCard {
    width: 100%;
}

.coursesCard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 30px;
}

.coursesCard-item {
    position: relative;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.coursesCard-item:hover {
    transform: translateY(-5px);
}

.coursesCard-item img {
    width: 85%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

.coursesCard-content {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.coursesCard-title {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    height: 50px;
    overflow: hidden;
}

.coursesCard-description {
    font-size: 14px;
    color: #666;
    overflow: hidden;
}

.coursesCard-lecturer {
    font-style: italic;
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.coursesCard-enroll-link {
    text-decoration: none;
    color: inherit;
  }

  .coursesCard-enroll-btn {
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }

  .coursesCard-enroll-btn:hover {
    background-color: #ff4081;
  }

.coursesCard-enroll-btn:hover {
    background-color: #E90064;
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination button.active {
    background-color: #E90064;
    color: #fff;
}

/* -------------Categories---------- */
.categories {
  padding: 3vw 5vw;
  font-family: "Roboto", sans-serif;
}

.categories h2,
.categories .categories-h2 {
  color: #272727;
  margin-bottom: 1em;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
}

.categories-container .search-item,
.categories-container .show-all-button {
  cursor: pointer;
  background-color: #f9f9f9;
  color: #272727;
  font-weight: 350;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  padding: 0.5em;
  margin: 0 1em 1em 0;
  border-radius: 5px;
  box-shadow: 0 3px 6px #d1d3d6;
  transition: all 0.3s ease;
}

.categories-container .search-item:hover,
.categories-container .show-all-button:hover {
  background-color: #E90064;
  color: #fff;
  transform: scale(1.1);
}

.search-box {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  height: 35px;
}

.search-box input {
  width: 250px;
  height: 35px;
  padding: 0 0.5em;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 1px solid #d4d8dd;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.8px;
}

.search-box .button {
  padding: 0;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: none;
  width: 60px;
  height: 35px;
  background-color: #e9ebee;
  color: #000;
  margin-bottom: 2.7%;
}

.search-box .button:hover {
  background-color: #E90064;
  color: #fff;
}

.search-item.selected {
    background-color: #ef4c92;
    color: #fff;
    border-color: #ef4c92;
  }

  /* -------------COURSE DETAILLL--------- */
  .course-detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .course-detail-header {
    text-align: center;
    margin: 20px 0px;
  }

  .course-detail-header h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .course-detail-header p {
    color: #666;
    font-size: 16px;
  }

  .course-detail-video {
    margin-bottom: 30px;
  }

  .course-detail-video iframe {
    width: 100%;
    height: 500px;
    border: none;
  }

  .course-detail-description {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .course-detail-description h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .course-detail-description p {
    color: #666;
    font-size: 16px;
  }

  .related-videos {
    margin-top: 30px;
  }

  .related-videos h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .related-videos-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .related-video-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .related-video-item:hover {
    transform: translateY(-5px);
  }

  .related-video-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .related-video-item h4 {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .related-video-item p {
    color: #666;
    font-size: 14px;
  }
  .categories-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .container-categories{
    display: flex;
    align-items: center;
    padding: 15px;
  }


/* Modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal-content {
  background-color: #fefefe;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  /* fix qito posht */
  max-width: 55%;
  max-height: 75%;
  overflow: auto;
}

.modal-buttons {
  text-align: center;
  margin-top: 20px;
  padding-left: 20px;
}

.modal_button{
  width: 25%;
  margin-left: 10px;
}
.modal_button:hover {
  background-color: #ff4081;
  color: white;
}

.coursesCard-go-to-btn {
  display: inline-block;
  background-color: #E90064;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-decoration: none;
}

.coursesCard-go-to-btn:hover {
  background-color: #ff4081;
}
@media screen and (max-width: 768px){

.coursesCard-item {
  display: flex;
  flex-direction: column;
  width: 155px;
}
.coursesCard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 30px;
}
.search-box {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.categories-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.categories-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-categories{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-all-button{
  width: 95%;
}
.coursesCard-content {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.coursesCard-title {
  font-size: 14px;
}
.coursesCard-item img {
  height: 100px;
  width: 120px;
}
}
