/* Add styles for the Back component */
.back-container {
    margin-bottom: 20px; /* Adjust the bottom margin */
}

/* Adjust the margin for the course card section */
.courses-card {
    padding: 20px 0; /* Reduce top and bottom padding */
    margin-top: 10px; /* Add a top margin to reduce space */
}

.container.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.course-item {
    background-color: #fff;
    padding: 20px; /* Reduce padding */
    text-align: center;
}

.course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.course-item h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.course-item p {
    font-size: 14px;
    color: #555;
}

.online {
    text-align: center;
}

.online .box {
    box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
}
