.contact{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact .contact-container{
    box-shadow: 0 5px 25px -2px rgba(0 0 0 /6%);
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    width: 100%;
}

.contact .map{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.contact .map iframe{
    width: 100%;
    height: 700px;
    border: none;
}

.contact .right{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.contact h1{
    font-size: 30px;
    font-weight: 550;
    color: #E90064;

}
.grid22 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
.contact p{
    color: grey;
}
.contact .box p{
    font-size: 17px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.contact textarea,
.contact input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid grey;
    color:#E90064 ;
}
.contact .flexSB input:nth-child(1){
    margin-right: 10px;
}

.flexSB input{
    border-radius: 10px;
}

.primary-btn{
margin-top:10px !important;
}

.flexSB textarea{
    border-radius: 10px;
}
.contact h3{
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact span{
    color:#E90064;
    font-weight: 500;
    font-size: 15px;
    word-spacing: 5px;
}

.map-container{
    border-radius: 40px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
    .grid22 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
      }
      .contact .map{
        display: none;
    }
    .contact .container{
        flex-direction: column;
    }
    .contact iframe{
        height: 50hv;
    }
    .contact .row{
        width: 100%;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
    .contact .container{
        flex-direction: column;
    }
    .contact iframe{
        height: 50hv;
    }
    .contact .row{
        width: 100%;
    }
    .contact .map{
        display: none;
    }
    .grid22 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
}