.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin-bottom: 30px;
}

.container h1 {
  margin-bottom: 10px;
}

.container table {
  width: 100%;
}

.container th,
.container td {
  padding: 10px;
  text-align: left;
  background-color: white;
}

.container .actions button {
  background-color: #e90064;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.container .add-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.container .add-inputs input {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 48px;
  width: 185px;
  border: 1px solid #e90064;
  border-radius: 6px;
  text-align: center;
}

.container .add-inputs button {
  background-color: #e90064;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
}

.container h2 {
  margin: 20px;
}

.container .add-inputs textarea {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 48px;
  width: 185px;
  border: 1px solid #e90064;
  border-radius: 6px;
  text-align: center;
}

#news-text {
  width: 100%;
  height: 40%;
}

/* categories */
.categories .container {
  width: 100%;
}

.categories .content {
  text-align: center;
}

.categories .content button {
  display: block;
  margin: 0 auto; 
  margin-bottom: 10px; 
}

.categories .content table {
  width: 100%;
  border-collapse: collapse;
}

.categories .content th,
.categories .content td {
  padding: 8px;
  border: 1px solid #ddd;
}

.categories .content th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.categories .content tr:nth-child(even) {
  background-color: #f2f2f2;
}

.categories .content tr:hover {
  background-color: #ddd;
}

.categories .content input[type="text"] {
  width: 20%;
  padding: 5px;
  box-sizing: border-box;
}
