.news-container {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
}

.news-card {
    width: 100%;
    height: 80vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.news-card .img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.news-card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-card .text {
    padding: 20px;
}

.news-card h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0;
    transition: 0.5s;
}

.news-card h1:hover {
    color: #E90064;
    cursor: pointer;
}

.news-card span {
    text-transform: uppercase;
    font-weight: 500;
    color: #E90064;
}

.news-card span label {
    color: #E90064;
}

.news-card p {
    color: grey;
}
